.navbaritems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
   background-color: #fff;
   width: 95%;
    border-radius: 13px;
    height: 80px;
   position: fixed;
   top: 25px;
   left: 50%;
   transform: translate(-50%);
  z-index: 999;
}

.navbaritems h1{
    font-size: 40px;
    color: black;
   
}
.navbaritems .highlight{
    color: rgba(153, 65, 0, 0.77) ;
   font-size: 50px;
}
.navbar{
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 22px;
  text-align: center;
 
   
}
.navbar li{    
  margin-right: 20px;
}

.nav-links{
    text-decoration: none;
     color: black;
     padding: 10px 20px;
      white-space: nowrap;
  
}
.nav-links i{
  padding-right: 10px;
}
.nav-links:hover , .nav-links-mobile:hover {
    background-color: rgba(219, 142, 65, 0.937);
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.mobile{
display: none;
}
.nav-links-mobile{

    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #fff;
    margin-left: 10px;
    white-space: nowrap;
}



@media screen  and (max-width:950px){
  .navbaritems{
    padding: 20px 60px;
  }
    .navbar{
        display: flex;
     flex-direction: column;
     align-items:flex-start;
     background-color: rgba(45, 42, 42, 0.25);
     backdrop-filter: blur(2px);
     border-radius: 10px;
     position: absolute;
     top: 0px;
     left: -110%;
   align-items: stretch;
     width: 100%;
     height: auto;
     padding: 80px 0 30px 0;
z-index: -1;

    } 
   .navbar.active{
    left: 0%;
   }
    .nav-links{
   display: block;
        margin: 10px 0;
        padding: 15px 0;
        widows: 100%;
       
     }
     .nav-links:hover , .nav-links-mobile:hover{
       background-color: rgba(182, 92, 1, 0.937);
     
     }
    .mobile{

    display: block;
    }
    .mobile i{
        color: black;
        font-size: 25px;
    }
    .nav-links-mobile{
        background-color: rgba(182, 92, 1, 0.937);
        color: #fff;
     width: 70%;
     margin: auto;
        padding: 10px 30px;
         display: block;
        backdrop-filter: blur(10px);

    }
}